body {
    font-family: 'Cambria';
    margin: auto;
    width: 60%;
    font-size: 1.1em;
}

#byline {
    font-weight:600;
    font-size: 0.9em;
    padding-top: 3%;
}

#subhead {
    font-style: italic;
    font-size: 1.2em;

}

@media (orientation: portrait) {
    body {
        width: 95%;
        margin: auto;
        font-family: 'Cambria';
    }
}